$background-color-1: rgb(255, 255, 255);
$background-color-2: rgb(244, 106, 6);
$text-color-1: rgb(0, 0, 0);
$text-color-2: rgb(85, 85, 85);
$text-color-3: rgb(244, 106, 6);
$text-color-4: rgb(255, 255, 255);