.logo{
    height: 50px;
    padding: 5px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header:hover{
    background-color: orangered;
}
.logo,.header_home,.header_all,.header_faves,.header_login,.header_message{
    cursor: pointer;
}
@media screen and (min-width:375px) and (max-width:1023px) {
    .header{
        display: flex;
        flex-direction: column;
    }
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color:orangered;
}
.modal-content{
    background-color: #F46A06;
    margin: 15% auto;
    padding: 20px;
    border: 1px #F46A06;
    width: 80%;
}
.close{
    float: right;
    color: white;
    font-weight: bold;
}