.logo{
    height: 50px;
    padding: 5px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header:hover{
    background-color: orangered;
}
.logo,.header_home,.header_all,.header_faves,.header_login,.header_message{
    cursor: pointer;
}
@media screen and (min-width:375px) and (max-width:1023px) {
    .header{
        display: flex;
        flex-direction: column;
    }
}