.recipe {
    .recipe__container {
        max-width: 1220px;
        margin: 0 auto;
    }
    .recipe__wrapper {
        display: flex;
        justify-content: flex-start;
    }
    .recipe__description{
        padding-left: 1.5em;
        margin-right: 5%;
    }
    .recipe__description h3 {
        font-size: 32px;
        line-height: 40px;
        @include text1;
    }
    .recipe__description h4 {
        font-size: 20px;
        line-height: 40px;
        @include text1;
    }
    .recipe__description p {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        padding: 4px;
        color: $text-color-2;
    }
    .recipe__btn {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: $background-color-1;
        background: $background-color-2;
        padding: 16px 51px 16px 37px;
        border-radius: 0px;
        border: none;
        margin-top: 32px;
        margin-left: 5px;
        cursor: pointer;
    }
    .recipe__btn:active{
        box-shadow: 2px 4px 4px rgba(77, 53, 29, 0.596);
    }
    .recipe__img{
        padding: 1.5em;
    }
    .recipe__img img {
        max-width: 80%;
        border-radius: 10px;
        margin-left: 20%;
    }
    @media screen and (max-width: 1024px) and (min-width:768px){
        .recipe__img img {
            width: 100%;
            margin-left: 60px;
        }
        .recipe__img{
            padding: 0;
        }
    }
    @media screen and (max-width: 767px){
        .recipe__wrapper{
            flex-direction: column-reverse;
        }
        .recipe__text{
            display:flex;
            justify-content: space-around;
        }
        .recipe__img img{
            width: 70%;
            margin-left: 15%;
        }
        .recipe__btn{
            margin-left: 30%;
            padding: 14px 34px 14px 34px;
        }
        .recipe__description h3 {
            font-size: 28px;
        }
        .recipe__description h4 {
            font-size: 20px;
        }
        .recipe__description p {
            font-size: 15px;
        }
    }
}


