@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap");

.recipe {
    .recipe__container {
        max-width: 1220px;
        margin: 0 auto;
    }
    .recipe__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .recipe__description {
        // margin-right: 60px;
    }
    .recipe__description h3 {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #000000;
    }
    .recipe__description h4 {
        font-family: "Quicksand";
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        color: #000000;
    }
    .recipe__description p {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        color: #555555;
    }
    .recipe__btn {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        background: #f46a06;
        padding: 16px 51px 16px 37px;
        border-radius: 0px;
        border: none;
        margin-top: 32px;
        margin-left: 5px;
    }
    .recipe__img img {
        width: 600px;
        border-radius: 10px;
    }
}
